<!DOCTYPE html>
<html>
<head>
<title>welcome to the test for driver!</title>
</head>
<body>
欢迎来到驾照考题库：<br><br>
<form method='POST' action='/results'>

请选择考试科目类型：
<select name="subject">
<option value="1">科目一</option>
<option value="4">科目四</option>
</select>
<br>
<br>
驾照类型：
<select name="model">
<option value="c1">c1</option>
<option value="c2">c2</option>
<option value="a1">a1</option>
<option value="a2">a2</option>
<option value="b1">b1</option>
<option value="b2">b2</option>
</select>
<br>   
<br>  
<input type="submit" value="开始做题">
</form>    
</body>
</html>
