{% extends 'C_base.html' %}

{% block body %}
<br><br><br><br><br><br>
<h1 align="center">{{ the_title }}</h1>
<br>
<form method='POST' action='/search4' align="center">
<table align="center">
<h2 align="center">请输入您和他（她）的信息</h2>  读取使用者信息输入
<br><br>
<table align="center" border="1px" cellspacing="0px" bordercolor="white">
<tr><td>生肖一: </td><td>
<select name='shengxiao1'>
  {% for item in entry_shenxiao_list %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
<tr><td>生肖二: </td><td>
<select name='shengxiao2'>
  {% for item in entry_shenxiao_list %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
</table>
<br><br>
</table>
<p>填好资料, 单击此按钮开始匹配：</p>
<p><input value='开始匹配！' type='SUBMIT'></p>
</form>

{% endblock %}
