{% extends 'base.html' %}

{% block body %}

<h1 align="center">{{ the_title }}</h1>

<form method='POST' action='/pick_city'>
<table align="center">
<th colspan="2">请选择您想要搜寻的城市：</th>

<td>
<div style="overflow:auto;width:100%">
<input name='the_user_city' list="city" />
<datalist id="city"/>
   {% for item in the_available_city %}
    <option value="{{item}}">{{item}}</option>
     
  {% endfor %}
</datalist>
</div>
	<tr>

		<td>请您确认搜寻</td>
	</tr>

	<tr>
		 <td><input value='搜寻！' type='SUBMIT'></td>
	</tr>
</form>

{% endblock %}
