{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<th colspan="2">在此窗体输入您和他（她）的生肖吧：</th>
<tr><td>性别: </td><td> 男<input  type="radio" name="sex" /> 女<input  type="radio" name="sex" /></td></tr>
<tr><td>生肖: </td><td><select><option>白羊座</option><option>金牛座</option><option>双子座</option><option>巨蟹座</option><option>狮子座</option><option>处女座</option><option>天秤座</option><option>天蝎座</option><option>射手座</option><option>摩羯座</option><option>水瓶座</option><option>双鱼座</option></td></tr>
<tr><td>性别: </td><td> 男<input  type="radio" name="sex" /> 女<input  type="radio" name="sex" /></td></tr>
<tr><td>生肖: </td><td><input type="TEXT" name="Chinese zodiac" width="2" value="请填入您的生肖" /></td></tr>
<tr><td>顏色（color）: </td><td><input type="color" name="user_color" /></td></tr>
</table>
<p>填好资料, 单击此按钮开始匹配：</p>
<p><input value='开始匹配吧！' type='SUBMIT'></p>
</form>

{% endblock %}
