<!DOCTYPE html>
<html>
<head>
<title>welcome to the test for driver!</title>
</head>
<body>
欢迎来到驾照考题库：<br><br>
<form method='POST' action='/results'>

请选择考试科目类型：
<select name="subject">
<option value="1">科目一</option>
<option value="4">科目四</option>
</select>
<br>
<br>
驾照类型：
<input name='model' list='model' />     
<datalist id="model">
<option value="c1">
<option value="c2">
<option value="a1">
<option value="a2">
<option value="b1">
<option value="b2">
</datalist>
<br>
可填驾照类型类型：a1,a2,b1,b2,c1,c2
<br>  
<br>   
<br>  
<input type="submit" value="开始做题">
</form>    
</body>
</html>
